<div class="page-title-area item-bg-1">
        <div class="container">
            <div class="page-title-content">
                <h2>Study in Canada</h2>
                <ul>
                    <li>
                        <a href="~/Countries/index">
                            Countries
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                    <li>Canada</li>
                </ul>
            </div>
        </div>
    </div>
<section class="best-services-area ptb-90">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="best-service-img">
                                    <img src="assets/img/best-service/4.jpg" alt="Service">
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="best-service-area">
                                    <h3>Why Canada</h3>
                                    <p align="justify">
                                        Canada is one of the most sought-after countries for Indian and international students. Innovation is a key element of Canadian academics. Canada is ranked in the top 10 liveable places in the world with rapid growth in industrialization, cross-culture environment. It has been one of the sweet spots for students to pursue their education abroad. According to 2019 stats, over 70,000 international students are pursuing their education at different levels. It's consistent and sustainable economic growth ensures post-education opportunities for students.
                                    </p>
                                    <h6>
                                        Advantages of studying in the Canada:
                                    </h6>
                                    <ul>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Cost of education is lower than the USA and other countries -- by at least 30%.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Low cost of living.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Innovation and fast-growing industrialization with numerous opportunities.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Studying and working in Canada could help with permanent residency.
                                        </li>

                                    </ul>
                                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

