<div class="page-title-area item-bg-1">
        <div class="container">
            <div class="page-title-content">
                <h2>Study in Cyprus</h2>
                <ul>
                    <li>
                        <a href="~/Countries/index">
                            Countries
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                    <li>Cyprus</li>
                </ul>
            </div>
        </div>
    </div>
<section class="best-services-area ptb-90">
    <div class="container">
         
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="best-service-img">
                                    <img src="assets/img/best-service/4.jpg" alt="Service">
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="best-service-area">
                                    <h3>Why Cyprus</h3>
                                    <p align="justify">
                                        Cyprus is the third largest island in the Mediterranean Sea. It is the third-largest island in the Mediterranean Sea. Universities in Cyprus have considerably low tuition fees and the cost of living than other European countries. With more than 63,000 international students enrolled in 12 universities, Cyprus has been an exciting destination for students to study abroad. Apart from its advanced education system, you can learn foreign languages by studying in Cyprus.
                                    </p>
                                    <h6>
                                        Advantages of studying in the Cyprus:
                                    </h6>
                                    <ul>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            1st safest small country in the world.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            No IELTS/TOFEL required.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Low cost of living and tuition fees.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Internationally recognized under graduation and graduation programs taught in English and other foreign languages.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Students are allowed to work 20 hours a week on a student visa.
                                        </li>
                                    </ul>
                                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

