<div class="page-title-area item-bg-1">
        <div class="container">
            <div class="page-title-content">
                <h2>Study in CZech Republic</h2>
                <ul>
                    <li>
                        <a href="~/Countries/index">
                            Countries
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                    <li>CZech Republic</li>
                </ul>
            </div>
        </div>
    </div>
<section class="best-services-area ptb-90">
    <div class="container">
         
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="best-service-img">
                                    <img src="assets/img/best-service/4.jpg" alt="Service">
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="best-service-area">
                                    <h3>Why CZech Republic</h3>
                                    <p align="justify">
                                        The Czech Republic is considered one of the most beautiful countries in Eastern Europe. It has undergone rapid developments in the last few decades and became a great place with innovations and technology advancements. The modern CZech Republic higher education system uses the three-cycle structure of bachelor's, master's, and doctoral degrees. The Czech Republic has 26 public, 2 state, and 44 private institutions of higher education.
                                    </p>
                                    <h6>
                                        Advantages of studying in the CZech Republic:
                                    </h6>
                                    <ul>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            A long history of research-oriented education.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Exceptional courses in the fields of engineering, science, and medicine.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            With over 40,000 international students pursuing their education in various disciplines.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Well-esteemed universities with affordable tuition fees and cost of living.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Many programs are taught in English and other languages besides Czech.
                                        </li>
                                    </ul>
                                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

