<div class="page-title-area item-bg-1">
        <div class="container">
            <div class="page-title-content">
                <h2>Study in Dubai</h2>
                <ul>
                    <li>
                        <a href="~/Countries/index">
                            Countries
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                    <li>Dubai</li>
                </ul>
            </div>
        </div>
    </div>
<section class="best-services-area ptb-90">
    <div class="container">
         
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="best-service-img">
                                    <img src="assets/img/best-service/4.jpg" alt="Service">
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="best-service-area">
                                    <h3>Why Dubai</h3>
                                    <p align="justify">
                                        Want to study in the 'CITY OF GOLD?' Then, Dubai is your study abroad destination. It is one of the largest countries in the United Arab Emirates with propelling economy and technology innovations. Education is one of the major avenues in Dubai making significance in attracting international students to pursue their abroad education. Dubai's education system is one of the best and designed for forward-thinking students. Its advanced courses would bring global opportunities for students.
                                    </p>
                                    <h6>
                                        Advantages of studying in the Dubai:
                                    </h6>
                                    <ul>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Well established architecture and advanced education systems.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            A global city with diversified culture enabling learning and exploring career opportunities.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Comparatively low cost in tuition fees and living.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            One of the world's safest cities.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            A future-focused education system with over 60 universities and colleges offering over 500 courses.
                                        </li>
                                    </ul>
                                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

