<div class="page-title-area item-bg-1">
        <div class="container">
            <div class="page-title-content">
                <h2>Study in Germany</h2>
                <ul>
                    <li>
                        <a href="~/Countries/index">
                            Countries
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                    <li>Germany</li>
                </ul>
            </div>
        </div>
    </div>
<section class="best-services-area ptb-90">
    <div class="container">
         
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="best-service-img">
                                    <img src="assets/img/best-service/4.jpg" alt="Service">
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="best-service-area">
                                    <h3>Why Germany</h3>
                                    <p align="justify">
                                        Welcome to the land of ideas. Germany is one of the ideal places to study abroad. Its world-
                                        class and innovative education system attracts thousands of international students to pursue
                                        their degree and masters. Germany is the fourth most popular destination among international
                                        students in the world. There are around 400 institutions of higher education in Germany, many
                                        of which offer English-taught education programs. After graduation, Germany is one of the best
                                        places to work and explore a diversified culture. Its strong economy and future opportunities
                                        allure graduates and working professionals. Furthermore, its affordable cost of living, security,
                                        and a plethora of opportunities will make you astonished.
                                    </p>
                                    <h6>
                                        Advantages of studying in the Germany:
                                    </h6>
                                    <ul>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Best-in-class research-oriented education systems.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Leading universities offering a wide range of courses.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            A powerhouse of Schengen countries.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Affordable place to live and explore.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Most of the institutions offer scholarships to international students.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Long term degree and short-term courses to hone on a particular skill.
                                        </li>
                                    </ul>
                                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

