<div class="page-title-area item-bg-1">
        <div class="container">
            <div class="page-title-content">
                <h2>Study in New Zealand</h2>
                <ul>
                    <li>
                        <a href="~/Countries/index">
                            Countries
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                    <li>New Zealand</li>
                </ul>
            </div>
        </div>
    </div>
<section class="best-services-area ptb-90">
    <div class="container">
       
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="best-service-img">
                                    <img src="assets/img/best-service/4.jpg" alt="Service">
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="best-service-area">
                                    <h3>Why New Zealand</h3>
                                    <p align="justify">
                                        New Zealand is the youngest country and 2nd most peaceful country in the world. With 8 universities, 16 institutes of technology & polytechnics, and other recognized private institutions, New Zealand is offering world-class learning and development culture to pave the path for career growth. New Zealand's abroad education system ensures quality, security, and flexibility together with global learning. Another alluring feature of studying in New Zealand is, you can opt for either short term vocational courses or long-term courses with a diploma or degree certifications.
                                    </p>
                                    <h6>
                                        Advantages of studying in the New Zealand:
                                    </h6>
                                    <ul>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Low annual tuition fees and cost of living.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Follow a British education model ensuring the best quality.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            A safe place to learn and explore.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            A wide range of long-term and short-term courses will make you stay competitive.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Great working opportunities while you are studying.
                                        </li>

                                    </ul>
                                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

