<div class="page-title-area item-bg-1">
    <div class="container">
        <div class="page-title-content">
            <h2>Study in USA</h2>
            <ul>
                <li>
                    <a href="~/Countries/index">
                        Countries
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
                <li>USA</li>
            </ul>
        </div>
    </div>
</div>
<section class="best-services-area ptb-90">
    <div class="container">
         
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="best-service-img">
                                    <img src="assets/img/best-service/4.jpg" alt="Service">
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="best-service-area">
                                    <h3>Why USA</h3>
                                    <p align="justify">
                                        The United States of America (USA) has been a global leader in education with its diversified culture and top universities. The US is considered to be the first and best choice for many students to pursue their Master's degree and Ph.D. According to QS world rankings, nearly 33 of the 100 top universities in the world are based in the USA. With more than 4,500 accredited universities and leading courses, the US has become a top choice to explore and innovate knowledge. Above all, flexibility in choosing courses and research-centric science & technology courses are the best benefits of the US academic system. Students can apply for the optional practical training that allows them to work in their chosen field for 12-36 months after completion of course.
                                    </p>
                                    <h6>
                                        Advantages of studying in the USA:
                                    </h6>
                                    <ul>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Best universities with world-class learning.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Flexible education system.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Pioneers in exploring modern technologies.
                                        </li>
                                        <li>
                                            <i class="flaticon-check-mark"></i>
                                            Availability scholarships/ fellowships/ assistantships.
                                        </li>
                                    </ul>
                                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>

                     
                </div>
            </div>
        </div>

    </div>
</section>
