<style>
    .single-team .team-img {
        border-right: none;
        border-top: none;
        border-collapse: separate;
        border-radius: 50px;
        overflow: hidden;
        perspective: 1px
    }
        .single-team .team-img::before {
            background-color: transparent;
        } 
</style>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/USA">
                <div class="team-img" style="border-radius: 50px;">

                    <img src="/assets/img/countries/US.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at USA</h3>
                     
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/uk">
                <div class="team-img">
                    <img src="/assets/img/countries/united.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at UK</h3>
                   
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Australia">
                <div class="team-img">
                    <img src="/assets/img/countries/aus.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Australia</h3>
                    
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/canada">
                <div class="team-img">
                    <img src="~/assets/img/countries/canada.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Canada</h3>
                    
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Newzealand">
                <div class="team-img">
                    <img src="/assets/img/countries/NZ.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at New Zealand</h3>
                    
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/swedan">
                <div class="team-img">
                    <img src="/assets/img/countries/swedem.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Sweden</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Germany">
                <div class="team-img">
                    <img src="~/assets/img/countries/Germany.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Germany</h3>
                     
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Netherlands">
                <div class="team-img">
                    <img src="/assets/img/countries/netherlands.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Netherlands</h3>
                     
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Switzerland">
                <div class="team-img">
                    <img src="~/assets/img/countries/sland.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Switzerland</h3>
                     
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/France">
                <div class="team-img">
                    <img src="~/assets/img/countries/frnace.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at France</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Singapore">
                <div class="team-img">
                    <img src="/assets/img/countries/spore.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Singapore</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Poland">
                <div class="team-img">
                    <img src="~/assets/img/countries/plnd.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Poland</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Ireland">
                <div class="team-img">
                    <img src="~/assets/img/countries/ireland.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Ireland</h3>
                     
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Dubai">
                <div class="team-img">
                    <img src="~/assets/img/countries/dubai.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Dubai</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Italy">
                <div class="team-img">
                    <img src="~/assets/img/countries/italy.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Italy</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Austria">
                <div class="team-img">
                    <img src="~/assets/img/countries/aus.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Austria</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Finland">
                <div class="team-img">
                    <img src="~/assets/img/countries/finalnd.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Finland</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/CZech">
                <div class="team-img">
                    <img src="~/assets/img/countries/Czechrepblc.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at CZech Republic</h3>
                     
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Cyprus">
                <div class="team-img">
                    <img src="~/assets/img/countries/Cyrpus.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Cyprus</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Hungary">
                <div class="team-img">
                    <img src="~/assets/img/countries/Hungary.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Hungary</h3>
                    
                </div>

            </a>
        </div>
    </div>

</div>
