<style>
    .single-team .team-img {
        border-right: none;
        border-top: none;
        border-collapse: separate;
        border-radius: 50px;
        overflow: hidden;
        perspective: 1px
    }

        .single-team .team-img::before {
            background-color: transparent;
        } 
</style>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/USA">
                <div class="team-img">

                    <img src="/assets/img/countries/US.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at USA</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/uk">
                <div class="team-img">
                    <img src="/assets/img/countries/united.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at UK</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Australia">
                <div class="team-img">
                    <img src="/assets/img/countries/aus.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Australia</h3>
                    
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/canada">
                <div class="team-img">
                    <img src="~/assets/img/countries/canada.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Canada</h3>
                     
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Newzealand">
                <div class="team-img">
                    <img src="/assets/img/countries/NZ.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at New Zealand</h3>
                    
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/swedan">
                <div class="team-img">
                    <img src="/assets/img/countries/swedem.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Sweden</h3>
                     
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Germany">
                <div class="team-img">
                    <img src="~/assets/img/countries/Germany.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Germany</h3>
                    
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team">
            <a href="~/Countries/Netherlands">
                <div class="team-img">
                    <img src="/assets/img/countries/netherlands.jpg" alt="">

                </div>
                <div class="team-text">
                    <h3>Study at Netherlands</h3>
                     
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6">
        <a href="~/Countries/Index" class="btn btn-success">View All Countries</a>
    </div>

</div>
