<div class="page-title-area item-bg-1">
    <div class="container">
        <div class="page-title-content">
            <h2>Services</h2>
            <ul>
                <li>
                    <a href="~/Home/index">
                        Home
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>
<section class="box-area m-0 pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-box single-box-2 bg-4">
                    <i class="flaticon-statistics"></i>
                    <h3>Profile analysis and career counseling</h3>
                    <p align="justify">We at Flamingoes consulting services will walk through every application and analyze it to suggest the best course and universities. Our counselors with a go-to attitude will always help in overcoming the hurdles of the selection process.</p>
                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                    <br /><br />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-box single-box-2 bg-5">
                    <i class="flaticon-creativity"></i>
                    <h3>University selection and admission assistance</h3>
                    <p align="justify">Choosing the right country, university, and course are vital in shaping your career. Flamingoes experienced counselors with deep root knowledge will guide you in all why's and how's to get admission in your dream university. We thrive to establish long-term relations with candidates to leverage our services to the fullest.</p>
                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-box single-box-2 bg-5">
                    <i class="flaticon-pie-chart"></i>
                    <h3>Visa processing</h3>
                    <p align="justify">Visa processing is an immediate and significant process once you get admission to your dream university. Perhaps, visa processing varies from country to country. So we guide you to fill all the necessary documents to ensure precision and submission on time. Our unique value proposition lies in conducting mock visa interviews to build confidence for the D-day.</p>
                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-box single-box-2 bg-5">
                    <i class="flaticon-hand"></i>
                    <h3>Value-added services</h3>
                    <p align="justify">Apart from the above services, Flamingoes abroad educational consultants offer pre-departure and post-arrival assistance until you reach your destination. We also extend our help in education loans, financial aid, and foreign exchange to make your journey incessant.</p>
                    <br /><br />
                    <a class="default-btn" href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Get Started</a>

                </div>
            </div>
           
        </div>
    </div>
</section>
