<div class="page-title-area item-bg-1">
    <div class="container">
        <div class="page-title-content">
            <h2>About</h2>
            <ul>
                <li>
                    <a href="index.html">
                        Home
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
                <li>About</li>
            </ul>
        </div>
    </div>
</div>
<section class="about-us-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-title">
                    <span>About Us</span>
                    <p align="justify">What's your plan right after graduation? Are you planning to study abroad? Then, you are at the right place to shape your career and explore knowledge with global learning. Studying abroad has become a top priority for many graduates in their wishlist. All they need is guidance, mentoring, and assurance.</p>
                    <p align="justify">Flamingoes consulting services, a growing abroad education consultancy, with global tie-ups and national presence helping many aspirants to fulfill their dreams. We are student-centric and offer exceptional overseas education services like career counseling, university & course selection, visa processing, and scholarship assistance to accomplish their dreams with ease.</p>
                    <p align="justify">Our comprehensive abroad study services help students to select the best and top universities across the globe. Flamingoes's broad spectrum of countries includes USA, UK, Australia, Canada, Ireland, New Zealand, Singapore, Europe, etc. Our industry experience and acumen towards country & university selection will bring overseas education within your reach.</p>
                    <h6>
                        Why Flamingoes consulting services?
                    </h6>
                    <p align="justify">
                        We are always just a click away. Our counseling and supporting team will always available for you to feel like you are at home. Flamingoes's overseas educational services success relies on connecting students with the right abroad institutions and courses.
                    </p>
                    <ul class="mb-0">
                        <li>
                            <i class="flaticon-right-arrow"></i>
                            Proven industry experience.
                        </li>
                        <li>
                            <i class="flaticon-right-arrow"></i>
                            A Plethora of choices (countries and universities).
                        </li>
                        <li>
                            <i class="flaticon-right-arrow"></i>
                            Transparent and accountable services.
                        </li>
                        <li>
                            <i class="flaticon-right-arrow"></i>
                            Immense support right from the preparation to post-arrival.
                        </li>
                        <li>
                            <i class="flaticon-right-arrow"></i>
                            Any time availability
                        </li>
                    </ul>
</div>
            </div>
            <div class="col-lg-6">
                <div class="about-us-img">
                    <img src="assets/img/about-1.jpg" alt="About Us">
                    <div class="about-img-2">
                        <img src="assets/img/about-2.jpg" alt="About Us">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us Area -->
